<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!--<suite name="Log Suite Example" verbose="1">-->
    <suite name="Parallel Processing" parallel="methods" preserve-order="true" thread-count="2">
    <listeners>
        <listener class-name="utilities.ListenerClass" />
    </listeners>

    <test name="Parallel Processing">
        <classes>
            <class name="tests.testCases.TestCase1"></class>
            <class name="tests.testCases.TestCase2"></class>
        </classes>
    </test>
</suite>
